.Cards {
  display: flex;
  gap: 10px;
}

.ParentContainer {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .Cards {
    flex-direction: column;
    gap: 1.5rem;
  }

  .ParentContainer {
    height: 9rem;
  }
}
