.MainDashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
  .MainDashboard {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .MainDashboard {
    align-items: center;
  }
}