.RightSide {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: space-evenly;
  gap: 4rem;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 1200px) {
  .RightSide {
    justify-content: flex-start;
    margin-top: 3rem;
  }
}
