.CompactCard {
  display: flex;
  flex: 1;
  height: 7rem !important;
  border-radius: .7rem;
  color: white;
  padding: 1rem;
  position: relative;
  cursor: pointer;
}

.CompactCard:hover {
  box-shadow: none !important;
}

.RadialBar {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.CircularProgressbar {
  width: 4rem !important;
  overflow: visible;
}

.CircularProgressbar-path {
  stroke: white !important;
  stroke-width: 12px !important;
  filter: drop-shadow(2px 4px 6px white);
}

.CircularProgressbar-trail {
  display: none;
}

.CircularProgressbar-text {
  fill: white !important;
}

.RadialBar > span {
  font-size: 17px;
  font-weight: bold;
}

.Detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}


