.CompactCard {
  display: flex;
  flex: 1;
  height: 8rem !important;
  border-radius: 0.7rem;
  color: white;
  padding: 1rem;
  position: relative;
  cursor: pointer;
}

.CompactCard:hover {
  box-shadow: none !important;
}

.RadialBar {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.RadialBar > span {
  font-size: 17px;
  font-weight: bold;
}

.Detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.Detail > span:nth-child(2) {
  font-size: 22px;
  font-weight: bold;
}

.Detail > span:nth-child(3) {
  font-size: 12px;
}

.ExpandedCard {
  position: absolute;
  width: 60%;
  height: 70vh;
  z-index: 9;
  left: 14.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.ExpandedCard > span:nth-of-type(1) {
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0 0 15px white;
}

.ExpandedCard > span:nth-of-type(2) {
  color: rgb(236, 236, 236);
  font-size: 26px;
}

.ChartContainer {
  width: 75%;
}

@media screen and (max-width: 1200px) {
  .ExpandedCard {
    top: 2rem;
    height: 53vh;
    left: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .ExpandedCard {
    top: 8rem;
    height: 50%;
    left: 25px;
    width: 80%;
  }
}
