:root {
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --blue: #3b618c;
  --glass: rgba(201, 216, 232, 1);
  --boxShadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #5a87b9;
}

body {
  margin: 0;
}

.App {
  background: linear-gradient(
    106.37deg,
    #5a87b9 29.63%,
    #c9d8e8 51.55%,
    #3b618c 90.85%
  );
  height: 100vh;
  display: flex;
  font-family: "Inter", sans-serif;
  justify-content: center;
  align-items: center;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background: var(--glass);
  overflow: hidden;
  grid-template-columns: 13rem auto 20rem;
}

/* From https://css.glass */
/* background: rgba(201, 216, 232, 1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(201, 216, 232, 0.3); */
